DB_URL=jdbc:mysql://localhost:3306/electricity_billing?serverTimezone=UTC&useUnicode=true&characterEncoding=UTF-8&connectTimeout=5000&socketTimeout=10000
DB_USER=electricity_app
DB_PASSWORD=replace_with_your_local_database_password
